<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div style="margin-top: 80px">
    <h3>Menu</h3>
    <hr />
  </div>
  <div>
    <mat-grid-list cols="2" rowHeight="200px" class="grid-layout-custom">
        <mat-grid-tile
            *ngFor="let dish of dishes"
            (click)="onSelect(dish)"
            style="justify-content: center"
        >
            <img height="200px" src="{{ dish.image }}" alt="{{ dish.name }}" />
            <mat-grid-tile-footer>
            <h1>{{ dish.name | uppercase }}</h1>
            </mat-grid-tile-footer>
        </mat-grid-tile>
    </mat-grid-list>
  </div>
  <hr />

    <div class="small-container" style="display: flex;">
            <div *ngIf="selectedDish">
                <mat-card style="height: auto; width: 400px">
                <mat-card-header>
                    <mat-card-title>
                    <h3>{{ selectedDish.name | uppercase }}</h3>
                    </mat-card-title>
                </mat-card-header>
                <img
                    mat-card-image
                    src="{{ selectedDish.image }}"
                    alt="{{ selectedDish.name }}"
                />
                <mat-card-content>
                    <p>{{ selectedDish.description }}</p>
                    <div>
                        <h2 class="title"><b>Comments</b></h2>
                        <div style="padding-left: 20px;">
                            <p>{{selectedDish.comments[0].comment}}</p>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
                </mat-card>
            </div>
            <!-- <div>
                <div *ngFor="let comment of selectedDish.comments">
                    <p>{{comment.comment}}</p>
                    <p>{{comment.rating}}</p>
                    <p>{{comment.author}}</p>
                </div>
            </div> -->
    </div>
</div>
