<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div style="margin-top: 80px">
    <h3>Menu</h3>
    <hr />
  </div>

  <!-- Display all Dishes -->
  <div style="display: flex;">
    <mat-grid-list cols="2" rowHeight="200px" class="grid-layout-custom">
      <mat-grid-tile
        *ngFor="let dish of dishes"
        (click)="onSelect(dish)"
        style="justify-content: center"
      >
        <img height="200px" src="{{ dish.image }}" alt="{{ dish.name }}" />
        <mat-grid-tile-footer>
          <h1>{{ dish.name | uppercase }}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
    <!-- <app-dishdetail [dish]="selectedDish"></app-dishdetail> -->
  </div>
  <hr />

  <!-- Selected Card Display -->
  <div class="small-container" style="display: flex">
    <div *ngIf="selectedDish" style="max-width: 50%;">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{ selectedDish.name | uppercase }}</h3>
          </mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          src="{{ selectedDish.image }}"
          alt="{{ selectedDish.name }}"
        />
        <mat-card-content>
          <p>{{ selectedDish.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="selectedDishComments">
      <h2 class="title"><b>Comments</b></h2>
      <div style="padding-left: 20px">
        <div *ngFor="let eachComment of selectedDishComments">
          <p>
            # {{ eachComment.comment }} <br />{{ eachComment.rating }} star
            <br /><b>{{ eachComment.author }}</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
